<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login/Registar</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/loginregistar.css">
    <script src="https://kit.fontawesome.com/761d42c757.js" crossorigin="anonymous"></script>
	</head>
	<body>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form id="reg-form" action="/auth/forgot" method="POST">
                  <h3>Coloque o Email para atualizar a password</h3>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                  <button type="submit" id="submit">
                    Reset password
                  </button>
                </form>
            </div>
            <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                  <%- include ("./messages") %>
                    <h1>Olá</h1>
                    <p>Faça o seu login para ver os seus filmes favoritos</p>
                    <button href="/auth/login" class="ghost" id="signUp" onclick="f()">Fazer Login</button>
                </div>
            </div>
        </div>
        <script src="/assets/js/js.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
  <script>
    function f() {
      location.replace("/auth/login")
    }
  </script>
</body>
</html>
          
          
          

       
